@import './shared/styles/font';
@import './shared/styles/variables';
@import '../node_modules/bootstrap/scss/bootstrap';

#root {
    background-color: $accent;
    color: $body-color;
    height: 100vh;
}